.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0 0 0 / 75%) 0px 5px 8px -9px;
  margin-bottom: 25px;

  .logo-container {
    display: block;
    width: 70px;
    height: 100%;
    padding: 5px;

    .logo {
      height: 100%;
      width: 100%;
    }
  }

  .nav-links-container {
    display: flex;
    list-style: none;
    margin-left: auto;

    .nav-link-item {
      padding: 10px 15px;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
